<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Content/Images/profile_small.jpg" />
                    </span>
                    <a class="dropdown-toggle">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Mary Iturriaga</strong>
                            </span> <span class="text-muted text-xs block">Worker Programmer</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    AR+
                </div>
            </li>
            <li class="@Html.IsSelected(action: "Index", controller:"Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span class="nav-label">Home</span> </a>
            </li>
            <li class="@Html.IsSelected(action: "Index", controller:"Aircraft")">
                <a href="@Url.Action("Index", "Aircraft", new { pagina = 1 })"><i class="fa fa-plane"></i> <span class="nav-label">Aviones</span> </a>
            </li>
        </ul>
    </div>
</nav>