@model AirlineReservation.Models.FlightInstance

@{
    ViewBag.Title = "Crear";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Crear</h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Volver a la Lista", "Index", new { pagina = 1}, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Crear Instancia de Vuelo</h5>
                </div>
                <div class="ibox-content">
                    <h3 class="text-center text-info">No implementado aún.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
